body{
    background-color: #F6F3EE;

}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */

    section[role="header"]{
        background-color: #fff;
        /* padding: 20px 28px; */
        height: 60px;
        padding-inline: 16px;
        box-sizing: border-box;
        display: flex;
                align-items: center;
                justify-content: space-between;

            .menu{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
            }

            h3{
                font-size: 1.25em;
                font-weight: 700;
                color: #333;
                font-family: 'EBSHunminjeongeumSBA';
            }

            .bell{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
            }
    }
    .line{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .active{
            width: calc(50% - 1px);
            border-bottom: 2px solid #6C9460;
        }
        .inactive{
            width: calc(50% - 1px);
            border-bottom: 2px solid #D1E1CE;
        }
    }
    
    section[role="contents"]{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        margin: 0 auto;
        padding-inline: 20px;
        box-sizing: border-box;
        max-width: 1024px;


        h4{
            font-size: 0.875em;
            line-height: 34px;
            font-weight: 700;
            color: #000;
            font-family: 'EBSHunminjeongeumSBA';
            margin-block: 8px;
            display: flex;
            align-self: flex-start;
            /* margin: 0 auto; */
        }

        article.bookcase_list{
            /* width: 100%; */
            /* height: 100vh; */
            
            box-sizing: border-box;
            display: flex;
            /* flex-direction: column; */
            align-items: center;
            align-content: flex-start;
            justify-content: space-between;
            gap: 16px;
            flex-wrap: wrap;
            /* height: 100%; */
    
    
    
            ul{
                flex-grow: 1;
                display: flex;
                /* justify-content: space-between; */
                /* flex-direction: column; */
                gap: 16px;
                width: calc((100% - 32px) / 2);
    
    
    
                li{
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
    
                }
                .case_large{
                    width: 100%;
    
                    figure{
                        max-width: 234px;
                        max-height: 500px;
                        object-fit: cover;
                    flex-grow: 1;
    
    
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                }
                .case_small{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    /* gap: 16px; */
                /* height: calc((100% - 32px) / 2); */
    
                    width: 100%;
                flex-grow: 1;
    
    
                    figure{
                        max-width: 234px;
                        max-height: 242px;
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
    
            }
        }
    }
    
    
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    main{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    
        section[role="header"]{
            background-color: #fff;
            /* padding: 20px 28px; */
            height: 60px;
            padding-inline: 16px;
            box-sizing: border-box;
            display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                .menu{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                }
    
                h3{
                    font-size: 1.25em;
                    font-weight: 700;
                    color: #333;
                    font-family: 'EBSHunminjeongeumSBA';
                }
    
                .bell{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                }
        }
        .line{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .active{
                width: calc(50% - 1px);
                border-bottom: 2px solid #6C9460;
            }
            .inactive{
                width: calc(50% - 1px);
                border-bottom: 2px solid #D1E1CE;
            }
        }
        article.bookcase_list{
            /* width: 100%; */
            /* height: 100vh; */
            /* max-width: 1024px; */
            margin: 0 auto;
            padding: 46px 20px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-content: center;
            justify-content: space-between;
            gap: 16px;
            flex-wrap: wrap;
            flex-grow: 1;

            /* height: 100%; */
    
    
    
            ul{
                display: flex;
                flex-grow: 1;
                /* justify-content: space-between; */
                /* flex-direction: column; */
                gap: 16px;
                width: 100%;
    
    
    
                li{
                flex-grow: 1;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
    
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
    
                }
                .case_large{
                    width: 100%;
    
                    figure{
                        max-width: 356px;
                        max-height: 760px;
                        object-fit: cover;
                    flex-grow: 1;
    
    
    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
                }
                .case_small{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    /* gap: 16px; */
                /* height: calc((100% - 32px) / 2); */
    
                    width: 100%;
                flex-grow: 1;
    
    
                    figure{
                        max-width: 356px;
                        max-height: 372px;

    
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
    
            }
        }
        
    }
}