body {
    background-color: #F6F3EE;
}
main {
    width: 100%;
    background-color: #F6F3EE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .mobile_wrap {
        display: none;
    }
    .pc_wrap {
        position: relative;
        height: 100vh;
        display: flex;

        flex-direction: column;
        /* justify-content: space-between; */

        .header_pc {
            position: fixed;
            max-width: 1024px;
            margin: 0 auto;
            padding: 0 36px;
            height: 96px;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            z-index: 999;
            left: 50%;
            transform: translateX(-50%);

            .home {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 96px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .tab {
                position: relative;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                .tab_menu {
                    width: 162px;
                    height: 60px;
                    background-color: #071B34;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    align-content: center;
                }
                .tab_btm {
                    bottom: -80px;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        background-color: #071B34;
                        text-align: center;
                        color: #fff;
                        padding-inline: 12px;
                        gap: 20px;
                        box-sizing: border-box;
                        .hello {
                            width: 100%;
                            font-family: "EBSHunminjeongeumSBA";
                            font-size: 16px;
                            line-height: 22px;
                            text-align: center;
                            align-items: center;
                            flex-grow: 1;
                            padding-block: 20px;
                            border-block: 1px solid #304055;
                            p {
                                font-size: 1.25rem;
                                line-height: 30px;
                                color: #fff;
                                text-align: left;
                                span {
                                    color: #E75752;
                                }
                            }
                        }
                        li {
                            display: flex;
                            align-items: center;
                            align-content: center;
                            justify-content: flex-start;
                            padding-inline: 10px;
                            text-align: left;
                            font-weight: bold;
                            a {
                                display: block;
                                color: #fff;
                            }
                        }
                        .log_out {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            align-content: center;
                            justify-content: flex-start;
                            padding-inline: 10px;
                            text-align: left;
                            border-top: 1px solid #304055;
                            box-sizing: border-box;
                            padding-block: 20px;
                            a {
                                display: block;
                                color: #fff;
                                width: 100%;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }

        section {
            height: 100vh;
            position: relative;
            display: flex;

            aside {
                /* position: fixed; */
                min-width: 464px;
                max-width: 464px;
                height: 100vh;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                /* justify-content: space-between; */

                .inform-title {
                    position: relative;
                    flex-grow: 1;
                    /* height: fit-content; */

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    h3 {
                        position: absolute;
                        font-family: "EBSHunminjeongeumSBA";
                        font-size: 38px;
                        line-height: 1.5;
                        top: 108px;
                        left: 30px;
                        color: #fff;
                        font-weight: 400;
                    }
                }
                .my_bookcase-title {
                    padding: 40px 30px;
                    font-family: "pretendard";

                    p {
                        font-size: 16px;
                        line-height: 1.5;
                        color: #383838;
                    }
                }
                .my_bookcase-btn {
                    padding: 20px 30px;
                    border-top: 1px solid #316920;

                    a {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        line-height: 1.5;
                        font-family: "pretendard";
                        font-size: 20px;
                        color: #316920;
                    }

                }

            }
        }
        .bookcase-content {
            display: flex;
            align-items: center;
            width: 100%;
            height: auto;
            padding-left: 36px;
            /* background-color: #f90; */
            /* margin-left: 464px; */

            .bookcase-list {
                display: flex;
                align-items: center;
                gap: 27px;
                width: 100%;
                height: 500px;

                /* background-color: #f90; */

                .add-bookcase {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #ECE9E2;
                    border: 2px solid #DAD5C8;
                    min-width: 220px;
                    height: 100%;
                }

                .my_bookcase {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    align-content: flex-start;
                    flex-direction: column;
                    /* background-color: #ccc; */
                    width: 100%;
                    height: 100%;
                    gap: 16px;
                    flex-wrap: wrap;
                    overflow-x: auto;
                    scrollbar-width: none;

                    li {
                        display: flex;

                        flex-direction: column;
                        height: calc((100% - 16px) / 2);
                        gap: 4px;

                        &:nth-child(3n) {
                            flex-grow: 1;
                            height: 100%;
                        }

                        .book_img {
                            position: relative;

                            background-color: #F4DDAC;
                            border: 2px solid #D2B58F;
                            height: 100%;
                            width: 220px;

                            &:after {
                                content: '';
                                background-color: #D2B58F;
                                display: block;
                                width: 42px;
                                height: 100%;
                            }

                            &::before {
                                position: absolute;
                                content: '';
                                background-color: #C9AF8D;
                                /* background-color: #fff; */
                                display: block;
                                width: 100%;
                                height: 32px;
                                bottom: -1px;
                                right: -1px;
                                clip-path: polygon(42px 0, 0 100%, 100% 100%, 100% 0);

                            }
                        }
                        p {
                            display: flex;
                            font-size: 16px;
                            line-height: 1.5;
                            color: #87725B;
                            font-weight: bold;

                        }
                    }
                }
            }
        }

    }
}
@media screen and (max-width: 767px) {
    #dim {
        display: none;
    }
    main {
        max-width: 100%;
        height: 100dvh;
        background-color: #F6F3EE;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .pc_wrap {
            display: none;
        }
        .mobile_wrap {
            display: flex;
            flex-direction: column;
            height: 100dvh !important;
            background-color: #F6F3EE;
            &.intro {
                background-image: url("../image/add_deco_bgi.png");
                background-size: cover;
                background-position: center;
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.75);
                }
                .header_wrap {
                    border-bottom: 1px solid rgba(246, 243, 238, 0.25);
                    .home {
                        img {
                            filter: invert(1);
                        }
                    }
                }
            }
            .header_wrap {
                position: fixed;
                width: 100%;
                .header_mo {
                    top: 0;
                    height: 54px;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-inline: 20px;
                    .home {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 24px;
                        height: 24px;
                        img {
                            width: 8px;
                            height: 16px;
                        }
                    }
                    .menu {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .line_mo {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 2px;
                    width: 100%;
                    .active {
                        width: calc(50% - 2px);
                        border-bottom: 2px solid #6C9460;
                    }
                    .inactive {
                        width: calc(50% - 2px);
                        border-bottom: 2px solid #D1E1CE;
                    }
                }
            }
            section.select_set {
                position: relative;
                padding-inline: 20px;
                flex-grow: 1;
                width: 100%;
                box-sizing: border-box;
                justify-content: center;
                align-items: flex-start;
                overflow-y: auto;
                z-index: 999;
                border-radius: 10px;
                padding-bottom: 140px;
                margin-top: 54px;
                padding-top: 38px;
                &::-webkit-scrollbar {
                    display: none;
                }
                &:has(article.set_bg) {
                    height: auto;
                }
                &:has(article.set_bookcase) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-bottom: 0;
                    button {}
                    p.mypage {}
                }
                article.set_intro {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                    gap: 40px;
                    .title {
                        position: relative;
                        display: flex;
                        width: 100%;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 16px;
                        opacity: 0.1;
                        h3 {
                            font-family: "EBSHunminjeongeumSBA";
                            font-size: 32px;
                            line-height: 1.5;
                            font-weight: 400;
                            color: #F6F3EE;
                        }
                        p {
                            font-family: "Pretendard";
                            font-size: 14px;
                            line-height: 1.5;
                            color: #F6F3EE;
                            font-weight: 400;
                        }
                    }
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 16px;
                        width: 100%;
                        li {
                            width: calc(50% - 8px);
                            aspect-ratio: 1/1;
                            align-items: center;
                            justify-content: center;
                            background-color: #fff;
                            padding: 0;
                            border-radius: 2px;
                            overflow: hidden;
                            box-sizing: border-box;
                            a {
                                aspect-ratio: 1/1;
                                display: block;
                                border-radius: 2px;
                                overflow: hidden;
                                box-sizing: border-box;
                                border: 2px solid transparent;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    .next {
                        position: fixed;
                        background-color: #fff;
                        /* background: linear-gradient(to bottom, rgba(246, 243, 238, 0), rgba(246, 243, 238, 1)); */
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 8px;
                        padding: 20px 20px 30px;
                        bottom: 0;
                        border-radius: 10px 10px 0 0;

                        box-sizing: border-box;
                        z-index: 999;

                        .intro_close {
                            /* position: absolute; */
                            /* right: 20px; */
                            /* top: 20px; */
                            width: 100%;
                            display: flex;
                            margin-inline: auto;
                            flex-grow: 1;
                            justify-content: flex-end;
                            text-align: right;
                            /* margin: 0; */

                            a {
                                display: block;
                                width: 24px;
                                height: 24px;
                            }
                        }

                        h3 {
                            font-family: "EBSHunminjeongeumSBA";
                            font-size: 28px;
                            line-height: 1.5;
                            color: #222;
                            margin-block: 16px;
                            text-align: center;
                        }

                        p.mypage {
                            font-size: 0.875em;
                            font-family: "Pretendard";
                            color: #767676;
                        }
                        /* a {
                            position: absolute;
                            display: block;
                            width: 40px;
                            height: 40px;
                            left: 0;
                            align-items: center;
                            margin-bottom: 4px;
                        } */

                        button {
                            width: 100%;
                            height: 50px;
                            background-color: #6C9460;
                            border-radius: 6px;
                            border: none;
                            font-size: 20px;
                            font-family: "EBSHunminjeongeumSBA";
                            line-height: 30px;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
                article.set_artwork {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                    gap: 40px;

                    .title {
                        position: relative;
                        display: flex;
                        width: 100%;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 6px;

                        span {
                            font-family: "EBSHunminjeongeumSBA";
                            line-height: 22px;
                            color: #6C9460;
                        }

                        h3 {
                            font-family: "EBSHunminjeongeumSBA";
                            font-size: 32px;
                            line-height: 42px;
                            color: #222;
                        }
                    }

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 16px;
                        width: 100%;

                        li {
                            width: calc(50% - 8px);
                            /* flex-grow: 1; */
                            aspect-ratio: 1/1;
                            align-items: center;
                            justify-content: center;
                            background-color: #fff;
                            padding: 0;
                            border-radius: 2px;
                            overflow: hidden;
                            box-sizing: border-box;

                            a {
                                aspect-ratio: 1/1;
                                display: block;
                                border-radius: 2px;
                                overflow: hidden;
                                box-sizing: border-box;
                                border: 2px solid transparent;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }

                    .next {
                        position: fixed;
                        background: linear-gradient(to bottom, rgba(246, 243, 238, 0),rgba(246, 243, 238, 0.5) 15%, rgba(246, 243, 238, 1) 30%);
                        /* background: linear-gradient(to bottom, rgba(246, 243, 238, 0), rgba(246, 243, 238, 1)); */
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 8px;
                        padding: 30px 20px;
                        bottom: 0;

                        box-sizing: border-box;

                        p.mypage {
                            font-size: 0.875em;
                            font-family: "Pretendard";
                            color: #767676;
                        }
                        a {
                            position: absolute;
                            display: block;
                            width: 40px;
                            height: 40px;
                            left: 0;
                            align-items: center;
                            margin-bottom: 4px;
                        }

                        button {
                            width: 100%;
                            height: 50px;
                            background-color: #B5CFB0;
                            border-radius: 6px;
                            border: none;
                            font-size: 20px;
                            font-family: "EBSHunminjeongeumSBA";
                            line-height: 30px;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }

                article.set_bg {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                    gap: 40px;

                    .title {
                        position: relative;
                        display: flex;
                        width: 100%;
                        justify-content: flex-start;
                        flex-direction: column;
                        gap: 6px;

                        span {
                            font-family: "EBSHunminjeongeumSBA";
                            line-height: 22px;
                            color: #6C9460;
                        }

                        h3 {
                            font-family: "EBSHunminjeongeumSBA";
                            font-size: 32px;
                            line-height: 42px;
                            color: #222;
                        }
                    }
                    textarea {
                        display: flex;
                        align-items: center;
                        font-family: "Pretendard";
                        width: 100%;
                        /* min-height: 24px; */
                        line-height: 1.5;
                        border: none;
                        border-bottom: 1px solid #bebebe;
                        outline: none;
                        font-size: 20px;
                        color: #434343;
                        font-weight: 400;
                        box-sizing: border-box;
                        padding: 10px;
                        white-space: pre-wrap;
                        overflow-y: hidden;
                        /* 세로 스크롤바 숨기기 */
                        resize: none;
                        /* 사용자가 크기 조절을 못하게 하려면 추가 */

                        &::placeholder {
                            color: #bebebe;
                            font-size: 16px;
                            display: flex;
                            align-items: center;
                            line-height: 24px;
                        }
                    }

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 16px;
                        width: 100%;

                        li {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            width: calc(50% - 8px);
                            /* width: 100%; */
                            /* height: 240px; */
                            /* flex-grow: 1; */
                            /* aspect-ratio: 1/1; */
                            align-items: center;
                            justify-content: center;
                            /* background-color: #fff; */
                            padding: 0;
                            border-radius: 2px;
                            overflow: hidden;
                            box-sizing: border-box;

                            a {
                                /* aspect-ratio: 1/1; */
                                width: 100%;
                                height: 240px;
                                display: block;
                                border-radius: 2px;
                                overflow: hidden;
                                box-sizing: border-box;
                                border: 2px solid transparent;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: top;
                                }
                            }

                            p {
                                color: #222;
                                font-size: 20px;
                                text-align: center;
                                font-weight: 500;
                            }
                        }
                    }

                    .next {
                        position: fixed;
                        /* background: linear-gradient(to bottom, rgba(246, 243, 238, 0), rgba(246, 243, 238, 1)); */
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 8px;
                        padding: 30px 20px;
                        bottom: 0;

                        box-sizing: border-box;

                        p.mypage {
                            font-size: 0.875em;
                            font-family: "Pretendard";
                            color: #767676;
                        }
                        a {
                            position: absolute;
                            display: block;
                            width: 40px;
                            height: 40px;
                            left: 0;
                            align-items: center;
                            margin-bottom: 4px;
                        }

                        button {
                            width: 100%;
                            height: 50px;
                            background-color: #B5CFB0;
                            border-radius: 6px;
                            border: none;
                            font-size: 20px;
                            font-family: "EBSHunminjeongeumSBA";
                            line-height: 30px;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }
                article.set_bookcase {
                    width: 100%;
                    margin: 0 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 1;
                    gap: 40px;

                    .bookcase_inner {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;

                        width: 100%;
                        /* gap: 40px; */
                    }
                    .title {
                        position: relative;
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        flex-direction: column;
                        gap: 6px;
                        /* margin-top: calc(126px - 38px); */

                        span {
                            font-family: "EBSHunminjeongeumSBA";
                            line-height: 22px;
                            color: #6C9460;
                        }

                        h3 {
                            font-family: "EBSHunminjeongeumSBA";
                            font-size: 32px;
                            line-height: 42px;
                            color: #222;
                        }
                        .bookcase_intro {
                            margin-top: 40px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-end;
                            justify-content: flex-end;
                            height: 100%;
                            /* margin-top: 160px; */
                            flex-grow: 1;
                            box-sizing: border-box;
                            width: 100%;
                            gap: 8px;
                            /* height: 40px; */
                            /* border: 2px solid #E1E1E1; */
                            border-radius: 2px;
                            /* padding: 0 80px; */

                            textarea {
                                display: flex;
                                align-items: center;
                                font-family: "Pretendard";
                                width: 100%;
                                /* height: auto; */
                                line-height: 1.5;
                                border: none;
                                border-bottom: 1px solid #bebebe;
                                outline: none;
                                font-size: 16px;
                                color: #434343;
                                font-weight: 400;
                                box-sizing: border-box;
                                padding: 10px;
                                white-space: pre-wrap;
                                overflow-y: hidden;
                                /* 세로 스크롤바 숨기기 */
                                resize: none;
                                background-color: transparent;
                                /* 사용자가 크기 조절을 못하게 하려면 추가 */

                                &::placeholder {
                                    color: #bebebe;
                                    font-size: 14px;
                                    display: flex;
                                    align-items: center;
                                    line-height: 24px;
                                }
                            }

                            .intro_text {
                                display: flex;
                                justify-content: space-between;
                                /* flex-direction: column; */
                                width: 100%;
                                gap: 8px;

                                span {
                                    font-family: "Pretendard";

                                    display: flex;
                                    align-items: center;
                                    justify-content: flex-end;
                                    font-size: 14px;
                                    line-height: 180%;
                                    width: fit-content;
                                    color: #bebebe;
                                    text-align: right;
                                    padding-inline: 10px;

                                    &#error_case {
                                        display: none;
                                    }

                                    &#textCount {
                                        text-align: right;
                                        flex-grow: 1;
                                    }
                                }
                            }
                        }
                    }

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        gap: 16px;
                        width: 100%;

                        li {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            width: calc(50% - 8px);
                            /* width: 100%; */
                            /* height: 240px; */
                            /* flex-grow: 1; */
                            /* aspect-ratio: 1/1; */
                            align-items: center;
                            justify-content: center;
                            /* background-color: #fff; */
                            padding: 0;
                            border-radius: 2px;
                            overflow: hidden;
                            box-sizing: border-box;

                            a {
                                /* aspect-ratio: 1/1; */
                                width: 100%;
                                height: 240px;
                                display: block;
                                border-radius: 2px;
                                overflow: hidden;
                                box-sizing: border-box;
                                border: 2px solid transparent;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: top;
                                }
                            }

                            p {
                                color: #222;
                                font-size: 20px;
                                text-align: center;
                                font-weight: 500;
                            }
                        }
                    }

                    .next {
                        position: fixed;
                        left: 0;
                        /* background: linear-gradient(to bottom, rgba(246, 243, 238, 0), rgba(246, 243, 238, 1)); */
                        width: 100%;
                        display: flex;
                        flex-grow: 1;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-end;
                        gap: 8px;
                        padding: 30px 20px;
                        bottom: 0;
                        box-sizing: border-box;

                        p.mypage {
                            font-size: 0.875em;
                            font-family: "Pretendard";
                            color: #767676;
                        }
                        a {
                            position: absolute;
                            display: block;
                            width: 40px;
                            height: 40px;
                            left: 0;
                            align-items: center;
                            margin-bottom: 4px;
                        }

                        button {
                            width: 100%;
                            height: 50px;
                            background-color: #B5CFB0;
                            border-radius: 6px;
                            border: none;
                            font-size: 20px;
                            font-family: "EBSHunminjeongeumSBA";
                            line-height: 30px;
                            color: #fff;
                            cursor: pointer;
                        }
                    }
                }

            }
        }

    }
}
