/* @media (min-width: 360px) and (max-width: 767px) { */
    main{
        width: 100%;
        height: 100vh;
        background-color: #F6F3EE;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */

        section{
            padding: 20px 28px;
            height: 54px;
            box-sizing: border-box;
            display: flex;
                    align-items: center;
                    justify-content: left;

                .prev{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 24px;
                    height: 24px;
                    /* display: inline-block; */
                    /* width: fit-content; */
                    /* height: fit-content; */
                    /* width: 100%; */

                    img{
                        width: 8px;
                        height: 1em;
                        /* object-fit: cover; */
                    }
                }
        }
        .line{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .active{
                width: calc(50% - 1px);
                border-bottom: 2px solid #6C9460;
            }
            .inactive{
                width: calc(50% - 1px);
                border-bottom: 2px solid #D1E1CE;
            }
        }
        article{
            padding: 0 20px;
            /* margin: 126px auto 0 auto; */
            margin-top: 66px;
            /* margin-top: clamp(35px, 126px, 8.75vw); */
            /* margin-top: clamp(126px, 126px, 35px); */
            /* margin-top: 8.75vw; */
            display: flex;
            flex-direction: column;
            gap: 40px;

            .content{
                display: flex;
                flex-direction: column;
                gap: 6px;
                /* align-items: center; */
                /* justify-content: center; */

                span{
                    font-family: "EBSHunminjeongeumSBA";
                    line-height: 22px;
                    color: #6C9460;
                }
                h3{
                    font-family: "EBSHunminjeongeumSBA";
                    font-size: 32px;
                    line-height: 42px;
                    color: #000;
                }
            }
            .textarea{
                display: flex;
                flex-direction: column;
                gap: 8px;

                .nickname{
                    /* all: unset; */
                    width: 100%;
                    height: 50px;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    border-bottom: 1px solid #bebebe;
                    box-sizing: border-box;
                    /* border-radius: 10px; */
                    caret-color: #222;
                    padding-inline: 6px;
                    font-size: 0.875em;

                    &:focus{
                        border-bottom: 1px solid #6C9460;
                    }

                    &::placeholder{
                    font-family: "Pretendard";
                        line-height: 1.5;
                    /* padding-inline: 6px; */
    
                    }
                }
                p{
                    font-size: 0.875em;
                    font-family: "Pretendard";
                    /* line-height: 1.5; */
                    color: #E75752;
                }
            }
            
        }
        .next{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            justify-content: flex-end;
            padding: 0 20px;
            box-sizing: border-box;
            flex-grow: 1;
            margin-bottom: 30px;

            p{
                font-size: 0.875em;
                font-family: "Pretendard";
                /* line-height: 1.5; */
                color: #767676;
            }

            button{
                width: 100%;
                height: 50px;
                background-color: #B5CFB0;
                border-radius: 6px;
                border: none;
                font-size: 1em;
                font-family: "EBSHunminjeongeumSBA";
                line-height: 22px;
                color: #fff;
                cursor: pointer;
            }

        }
        
    }
/* } */